@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black-color: rgb(58, 58, 58);
    --body-bg-color: #e3e3e3;
    --text-color: #000;
    --light-green: #00ad1d;
    --dark-green: #016034;
    --orange: #d97919;
    --light-orange: #ffaf60;
    --dark-orange: #c26100;
    --x-dark-orange: rgb(157, 42, 1);
    --light-red: rgb(236, 56, 56);
    --white: #fff;
    --light-black: rgb(23, 23, 23);
    --light-blue: #0463ac;
    --dark-blue: #070062;
    --afacad: 'Afacad', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

section{
    padding: 6rem 60px 10px 60px;
}


/*------------------ Header Style --------------------*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: var(--white);
    padding: 20px 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.header .links ul {
    list-style: none;
    display: inline-flex;
    gap: 30px;
    font-size: 18px;
    color: var(--black-color);
}

.header .links ul>a {
    color: var(--text-color);
    font-family: var(--afacad);
}

a {
    text-decoration: none;
}

/*------------------ Header Style Finish --------------------*/


/*------------------ Restaurant Card Style Start --------------------*/

.rest-card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    width: 220px;
    border-radius: 10px;
    color: var(--text-color);
    font-family: var(--poppins);
    height: fit-content;
    transition: transform 0.2s ease-in-out;

    >img {
        width: 220px;
        height: 150px;
        border-radius: 10px;
    }

    >.content {
        padding: 10px;

        >h3 {
            font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        >.rating {
            margin: 2px 0px;
            font-size: 14px;
            text-overflow: ellipsis;
            /* overflow: hidden; */
            white-space: nowrap;
            overflow: hidden;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 5px;

            >i {
                background-color: var(--dark-green);
                /* color: var(--input-bg); */
                color: var(--white);
                padding: 3px;
                font-size: 12px;
                border-radius: 50%;
            }
        }

        >.cuisines,
        .address {
            margin: 5px 0px;
            font-weight: 100;
            font-size: 14px;
            text-overflow: ellipsis;
            /* overflow: hidden; */
            white-space: nowrap;
            overflow: hidden;
            color: var(--black-color);
        }
    }
}

.rest-card:hover{
    transform: scale(1.03);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin: 2rem 0px;
}

/*------------------ Restaurant Card Style Finish --------------------*/


/*------------------ SearchBox Style Start --------------------*/

.search {
    display: flex;
    justify-content: center;
    align-items: center;

    >.search-input {
        width: calc(100% - 50%);
        height: 2.5rem;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px 0px 0px 5px;
        font-family: var(--poppins);
        font-weight: 400;
        border: 1px solid rgb(170, 188, 202);
    }

    >.search-input:focus {
        border: 1px solid var(--orange);
        outline: none;
    }

    >button {
        width: fit-content;
        height: 2.5rem;
        padding: 0px 15px;
        font-size: 14px;
        color: var(--white);
        background-color: var(--orange);
        border: none;
        outline: none;
        border-radius: 0px 5px 5px 0px;
        transition: all 0.3s ease-in-out;
    }

    >button:active, button:hover {
        background-color: var(--dark-green);
    }
}

.home-body {
    
}

/*Shimmer CSS */
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.shimmer-card {
    flex-basis: 220px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.shimmer-title {
    width: 60%;
    margin-top: 10px;
}

.shimmer-tags {
    width: 80%;
    margin-top: 4px;
}

.shimmer-details {
    width: 100%;
    margin-top: 18px;
}

.shimmer-container .shimmer-img {
    height: 144px;
    width: 220px;
}

/*Animation to Shimmer Component Cards */
.stroke {
    height: 15px;
    background: #777;
}

.animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    from {
        background-position: -1000px 0;
    }

    to {
        background-position: 1000px 0;
    }
}

/* error message */
.error-container {
    text-align: center;
    font-size: large;
    margin: 20px 0;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    >img {
        width: 400px;
    }

    >p {
        font-size: 20px;
        font-family: sans-serif;
    }

    >a {
        text-decoration: none;
        margin-top: 15px;
        border: 2px solid #dafc84;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        background-color: #e8ffae;
        color: black;
    }

}

/* Restaurant Menu CSS Start */
.restaurant-menu {
    /* margin-top: 80px; */
    min-height: 80vh;
    width: auto;
    font-family: var(--poppins);
}

.restaurant-summary {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    background-color: var(--light-black);
    color: var(--white);
}

.restaurant-img {
    width: 250px;
    height: 170px;
    border-radius: 5px;
}

.restaurant-summary-details {
    display: flex;
    flex-direction: column;
    flex-basis: 520px;
    margin: 20px;
}

.restaurant-title {
    font-size: 40px;
    max-width: 540px;
    font-weight: 300;
}

.restaurant-tags {
    white-space: nowrap;
    color: inherit;
    opacity: 0.7;
    font-size: 14px;
    max-width: 540px;
}

.restaurant-details {
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 10px;
    color: inherit;
    font-weight: 600;
    font-size: 16px;
    max-width: 340px;
}

.restaurant-rating {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    gap: 5px;
    background-color: var(--dark-green);
    border-radius: 5px;
}

.restaurant-menu-content {
    display: flex;
    justify-content: center;
}

.menu-items-container {
    margin-top: 30px;
    width: 850px;
}

.menu-title-wrap {
    padding: 20px;
}

.menu-count {
    margin-top: 14px;
    line-height: 1.3;
    color: rgba(40, 44, 63, 0.45);
    letter-spacing: -0.3px;
    font-size: 1rem;
}

.menu-items-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    max-height: 250px;
    padding: 20px;
    border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
}

.menu-item-details {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
    font-size: 14px;
}

.item-title {
    width: 60%;
}

.item-desc {
    margin-top: 14px;
    line-height: 1.3;
    color: rgba(40, 44, 63, 0.45);
    width: 60%;
    letter-spacing: -0.3px;
    font-size: 14px;
}

.item-cost {
    margin-top: 4px;
    font-size: 1rem;
    font-weight: 400;
    color: #3e4152;
    width: 40%;
}

.menu-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 200px;
    overflow: hidden;
}

.menu-item-img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.add-btn {
    background-color: var(--orange);
    color: var(--white);
    padding: 8px 25px;
    cursor: pointer;
    outline: none;
    border-color: var(--dark-orange);
    margin-top: 10px;
    border-radius: 5px;
}

.footer {
    background-color: var(--dark-orange);
    text-align: center;
    padding: 15px;
    margin-top: 50px;

    >p {
        font-size: 18px;

        >span {
            font-weight: bold;
            color: var(--input-bg);
        }
    }
}