* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black-color: rgb(58, 58, 58);
    --orange: #ffa700;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: white;
    padding: 20px 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.header .links a{
    text-decoration: none;
    color: var(--black-color);
}

.header .links ul {
    list-style: none;
    display: inline-flex;
    gap: 30px;
    font-size: 18px;
    color: var(--black-color);
}

.rest-card {
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    width: 220px;
    /* padding: 10px; */
    border-radius: 10px;
    color: var(--black-color);

    >img {
        width: 220px;
        height: 150px;
        border-radius: 10px;
    }

    >.content {
        padding: 10px;

        >h3 {
            font-size: 18px;
            /* width: fit-content; */
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        >.rating {
            margin: 2px 0px;
            font-size: 16px;
            text-overflow: ellipsis;
            /* overflow: hidden; */
            white-space: nowrap;
            overflow: hidden;
            font-weight: bold;
        }

        >.cuisines,
        .category {
            margin: 5px 0px;
            font-weight: 100;
            font-size: 16px;
            text-overflow: ellipsis;
            /* overflow: hidden; */
            white-space: nowrap;
            overflow: hidden;
            color: var(--black-color);
        }
    }


}

.cards {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    >.search-input {
        width: calc(100% - 20%);
        height: 3rem;
        /* border-radius: 5px; */
        padding: 10px;
        font-size: 16px;
        margin: 20px 0px;

    }

    >button {
        width: fit-content;
        height: 3rem;
        padding: 0px 10px;
        font-size: 16px;
        background-color: var(--orange);
        border: none;
        outline: none;
        border-radius: 5px;
    }

    >button:active {
        /* background-color: #bb7900; */
        box-shadow: 2px 2px 2px #bb7900;
        transform: translateX(2px);
    }
}

.home-body {
    padding: 20px 60px;
}

/*Shimmer CSS */
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.shimmer-card {
    flex-basis: 220px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.shimmer-title {
    width: 60%;
    margin-top: 10px;
}

.shimmer-tags {
    width: 80%;
    margin-top: 4px;
}

.shimmer-details {
    width: 100%;
    margin-top: 18px;
}

.shimmer-container .shimmer-img {
    height: 144px;
    width: 220px;
}

/*Animation to Shimmer Component Cards */
.stroke {
    height: 15px;
    background: #777;
}

.animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
}

@keyframes shimmer {
    from {
        background-position: -1000px 0;
    }

    to {
        background-position: 1000px 0;
    }
}

/* error message */
.error-container {
    text-align: center;
    font-size: large;
    margin: 20px 0;
}

.error-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    > img{
        width: 400px;
    }

    > p{
        font-size: 20px;
        font-family: sans-serif;
    }

    > a{
        text-decoration: none;
        margin-top: 15px;
        border: 2px solid #dafc84;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        background-color: #e8ffae;
        color: black;
    }

}
