.header {
    background-color: white;
    width: calc(100% - 100px);
    position: fixed;
    padding: 0px 10px;
    z-index: 999;

    >.header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >.search-bar {
            >input {
                padding: 0px 10px;
                height: 2.5rem;
                width: 400px;
                border: 1px solid grey;
                outline: none;
                border-radius: 50px 0px 0px 50px;
            }

            >button {
                width: 50px;
                height: 2.5rem;
                border: 1px solid grey;
                outline: none;
                border-radius: 0px 50px 50px 0px;
            }
        }

        >.profile img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    >.filters {
        gap: 10px;
        display: inline-flex;
        margin-bottom: 10px;
        
        >button {
            padding: 2px 10px;
            height: 2rem;
            width: fit-content;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 14px;
            font-weight: 500;
        }

        >button:first-child {
            color: white;
            background: black;
        }
    }

}