.video-card {
    box-sizing: border-box;
    width: 351px;
    /* border: 1px solid black; */

    > .thumbnail img{
        width: 350px;
        border-radius: 10px;
    }

    >.about {

        padding: 10px 0px;

        >.channel-profile img{
            border-radius: 50%;
        }

        > .info{
            > p{
                font-size: 14px;
                margin: 0px;
                color: rgb(92, 91, 91);
            }
        }
    }

}

.videos-container, .watch, .comment-section{
    margin-top: 130px;
}

.watch {
    width: 700px;

    > iframe{
        border-radius: 10px;
    }

    >.name {
        >h4 {
            font-size: 18px;
        }
    }

    >.details {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        >.channel {

            display: flex;
            align-items: center;

            >img {
                background-color: black;
                border-radius: 50px;
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }

            >.div {
                >p {
                    margin: 0px;
                    font-size: 14px;
                }
            }

            >button {
                background-color: black;
                color: white;
                border-radius: 50px;
                margin-left: 30px;
            }
        }


        > .watch-buttons{
            
            > button{
                background-color: var(--grey);
            }

            > .like{
                border-radius: 50px 0px 0px 50px ;
            }

            > .dislike{
                border-radius: 0px 50px 50px 0px;
                border-left: 2px solid lightgray;
            }
            
            > .share{
                border-radius: 50px;
                margin-left: 10px;
            }
        }

    }
}


.comment-section{
    width: calc(87vw - 700px);
    max-height: 450px;
    overflow-y: scroll;
}

.co{
    width: 100%;
}